<!DOCTYPE html>
<html>
<head>
	<title><%= tour.name%></title>

	<meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
	<h1 class="title_tour"> <%= tour.name%></h1>
	<img src="">
	<div id ="desc-tour">
		<p><%= tour.desc%></p>
	</div>

</body>

<script src="../js/jquery.min.js"></script>
<script src="../js/tour.js"></script>
</html>